section#assets-tester {
  text-align: center; }
  section#assets-tester .assets-group {
    border-bottom: 2px dashed #dedede;
    padding: 10px 0; }
    section#assets-tester .assets-group .item {
      overflow: hidden; }
  section#assets-tester h1 {
    color: #c0c0c0;
    font: 400 35px/1 Roboto; }
  section#assets-tester h2 {
    color: #c0c0c0;
    font: 400 20px/1 Roboto; }
  section#assets-tester .item {
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
    background-color: #a48a8a;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: inline-block;
    margin: 0 auto 30px auto;
    position: relative;
    width: 900px; }
  section#assets-tester .item.allheight {
    height: 670px; }
  section#assets-tester .item.no-animation {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    cursor: default;
    width: inherit; }
    section#assets-tester .item.no-animation:after {
      opacity: 0 !important; }
  section#assets-tester .item.background-transparent {
    background-image: url(../images/background-transparent.jpg); }

@-webkit-keyframes testItem-floating {
  0% {
    width: 1280px; }
  33% {
    width: 900px; }
  70% {
    width: 735px; }
  100% {
    width: 1280px; } }
@-moz-keyframes testItem-floating {
  0% {
    width: 1280px; }
  33% {
    width: 900px; }
  70% {
    width: 735px; }
  100% {
    width: 1280px; } }
@keyframes testItem-floating {
  0% {
    width: 1280px; }
  33% {
    width: 900px; }
  70% {
    width: 735px; }
  100% {
    width: 1280px; } }
@-webkit-keyframes testItem-allheight {
  0% {
    height: 720px;
    width: 1280px; }
  33% {
    height: 900px;
    width: 900px; }
  70% {
    height: 1128px;
    width: 735px; }
  100% {
    height: 720px;
    width: 1280px; } }
@-moz-keyframes testItem-allheight {
  0% {
    height: 720px;
    width: 1280px; }
  33% {
    height: 900px;
    width: 900px; }
  70% {
    height: 1128px;
    width: 735px; }
  100% {
    height: 720px;
    width: 1280px; } }
@keyframes testItem-allheight {
  0% {
    height: 720px;
    width: 1280px; }
  33% {
    height: 900px;
    width: 900px; }
  70% {
    height: 1128px;
    width: 735px; }
  100% {
    height: 720px;
    width: 1280px; } }
.item-test {
  -webkit-animation: testItem-floating 2s ease-in-out infinite;
  -moz-animation: testItem-floating 2s ease-in-out infinite;
  animation: testItem-floating 2s ease-in-out infinite; }

.item-test.allheight {
  -webkit-animation: testItem-allheight 2s ease-in-out infinite;
  -moz-animation: testItem-allheight 2s ease-in-out infinite;
  animation: testItem-allheight 2s ease-in-out infinite; }

.brandblock.a01 {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  display: inline-block;
  text-align: left;
  padding: 20px 0;
  width: 100%; }
  .brandblock.a01 figure,
  .brandblock.a01 figcaption {
    float: inherit;
    display: inline-block;
    vertical-align: middle; }
  .brandblock.a01 figure img {
    height: auto;
    width: 100%; }
  .brandblock.a01 figcaption {
    padding-top: 10px; }
    .brandblock.a01 figcaption p.title {
      font: 400 83px/1 Patua One;
      margin: 0 0 5px 0;
      line-height: 0.9; }
    .brandblock.a01 figcaption p.medium {
      font: 400 33px/1.15 Patua One;
      margin: 0 0;
      padding-right: 20%; }

.mosaic.a01 figure {
  border: 5px solid #b11638;
  display: inline-block;
  height: 50%;
  margin: 0 0 -5px -4px;
  overflow: hidden;
  width: 50%; }
  .mosaic.a01 figure img {
    height: auto;
    width: 165%; }

.mosaic.a02 {
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #877572 95%, #877572 100%);
  background-image: linear-gradient(to bottom, #e0e0e0 0%, #877572 95%, #877572 100%);
  height: 100%;
  padding: 5% 5%; }
  .mosaic.a02 center {
    border-radius: 20px;
    height: 100%;
    width: 100%; }
    .mosaic.a02 center figure {
      border: 2px solid #fff;
      display: inline-block;
      height: 50%;
      margin: 0 0 -5px -4px;
      overflow: hidden;
      width: 50%; }
      .mosaic.a02 center figure:nth-child(1) {
        border-radius: 20px 0 0 0; }
      .mosaic.a02 center figure:nth-child(2) {
        border-radius: 0 20px 0 0; }
      .mosaic.a02 center figure:nth-child(3) {
        border-radius: 0 0 0 20px; }
      .mosaic.a02 center figure:nth-child(4) {
        border-radius: 0 0 20px 0; }
      .mosaic.a02 center figure img {
        height: auto;
        width: 100%; }

.sidetext.a01 {
  background-image: url(../assets/images/side-text_a01-top.png), url(../assets/images/side-text_a01-bottom.png), url(../assets/images/side-text_a01-middle.png);
  background-position: top left, bottom left, center center;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-size: 100% 15%, 100% 15%, 100% 70%;
  text-align: left;
  padding: 30px 30px;
  width: 530px; }
  .sidetext.a01 p {
    font: 400 Patua One;
    font-family: Patua One;
    line-height: 1; }
  .sidetext.a01 p.title {
    color: white;
    font-size: 37px;
    margin: 0; }
  .sidetext.a01 p.medium {
    color: white;
    font-size: 30px;
    margin: 5px 0 5px 0; }
  .sidetext.a01 p.short {
    color: #700e23;
    font-size: 25px;
    margin: 0; }

.textblock.a01 p#title {
  background-image: url(../images/card_d49/textblock-a01_background-title.png);
  background-size: 100% 100%;
  color: black;
  font: 400 46px/1 Yesteryear;
  margin: 0 auto;
  padding: 10px 30px;
  position: relative;
  width: 80%;
  z-index: 9; }
.textblock.a01 p#medium {
  border: 5px solid white;
  color: white;
  font: 400 28px/1.4 Patua One;
  margin: -35px 0 0 0;
  padding: 50px 10px 25px 10px;
  position: relative;
  text-transform: uppercase; }

.paragraph.a01 {
  color: white; }
  .paragraph.a01 p.title {
    font: 400 77px/1 Patua One;
    margin: 0 0 5px 0; }
  .paragraph.a01 p.medium {
    font: 400 30px/1.25 Patua One;
    margin: 0 0; }

.frame.a01 {
  background-image: url(../assets/images/frame-a01_topleft.png), url(../assets/images/frame-a01_topright.png), url(../assets/images/frame-a01_bottomleft.png), url(../assets/images/frame-a01_bottomright.png);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  height: 94% !important;
  border: 0 !important;
  left: 2.5% !important;
  position: relative;
  top: 3% !important;
  width: 95% !important;
  z-index: -1; }

.listgroup.a01 {
  color: white;
  text-align: left; }
  .listgroup.a01 p.subtitle {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    font: 400 50px/1 Courgette;
    background-image: url(../images/card_d52/d52_triangle.png);
    padding-left: 30px; }
  .listgroup.a01 p.large {
    font: 400 27px/1.25 Palanquin Dark;
    padding-left: 15px; }

.brandprice.a01 {
  border-radius: 100%;
  background-color: #b11638;
  height: 415px;
  text-align: center;
  width: 415px; }
  .brandprice.a01 img {
    height: auto;
    width: 180px; }
  .brandprice.a01 p.short {
    color: #1e1f23;
    font: 400 26px/1 Patua One;
    margin: 10px 0; }
  .brandprice.a01 p.price {
    color: white;
    font: 400 94px/1 Patua One;
    margin: 0; }
    .brandprice.a01 p.price span {
      color: #301e25;
      font: 400 60px/1 Patua One;
      margin-left: -20px; }

.bandblock.a01 {
  background-color: #2f1e25;
  text-align: left;
  padding: 15px 30% 15px 5%; }
  .bandblock.a01 p.short {
    color: #ff3561;
    font: 400 32px/1 Patua One; }

.textblock.a02 {
  padding: 0 50px;
  background-image: url(../images/card_d51/d51_background-hgroup.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 50px 5px 50px;
  margin-top: 35px; }
  .textblock.a02 p {
    margin: 0; }
  .textblock.a02 p#short {
    background-image: url(../images/card_d51/d51_title-background.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: inline-block;
    font: 700 25px/1 Noto Serif;
    margin: -55px 0 0 0;
    padding: 15px 20px;
    text-transform: uppercase; }
  .textblock.a02 p#title {
    font: 700 37px/1.2 Noto Serif;
    color: #b22c39;
    text-transform: uppercase;
    margin: 0 0 -5px 0; }
    .textblock.a02 p#title:first-line {
      font: 700 30px/1 Noto Serif;
      color: #211915; }
  .textblock.a02 hr {
    background-image: url(../images/card_d51/d51_background-hr.png);
    background-position: center center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    border: 0;
    height: 2px;
    margin: 15px 0;
    width: 100%; }
  .textblock.a02 p#medium {
    color: #211915;
    font: 400 16px/1 Oswald;
    letter-spacing: 1;
    text-transform: uppercase; }

p {
  margin: 0px; }

button.a01 {
  background: #18e76b;
  padding: 30px 107px;
  font: 700 22px/1 Noto Sans;
  color: white;
  letter-spacing: 0.24em;
  border-radius: 10px;
  border: 1px solid transparent; }

p.textstyle#a01 {
  color: white;
  font: 400 62px/1 Patua One; }

p.textstyle#a02 {
  color: white;
  font: 400 30px/1 Oswald;
  letter-spacing: 0.24em;
  text-align: left; }

p.textstyle#a03 {
  color: white;
  font: 700 90px/1 Oswald;
  letter-spacing: 0em;
  text-align: center; }

p.textstyle#a04 {
  color: white;
  font: 300 70px/1 Oswald;
  letter-spacing: 0em;
  text-align: left; }

/*# sourceMappingURL=assets-tester.css.map */
