p.textstyle#a05
	color: #ff3d3d
	font: 700 54px/1.1 Noto Serif

p.textstyle#a10
	color: #df2a39
	font: 700 54px/1.1 Noto Serif
	letter-spacing: .1em

p.textstyle#a12
	color: #141414
	font: 400 25px/1.3 Noto Serif

p.textstyle#a27
	color: #ffffff
	font: 400 23px/1.3 Noto Serif
