link(href='css/assets.css', rel='stylesheet')

.item-group
	h2 _teststyle#a05
	.row
		button.test-short Probar textos corto
		button.test-medium Probar textos mediano
		button.test-large Probar textos largos
	.item
		p.textstyle#a05 Alianza surmujer

.item-group
	h2 _teststyle#a10
	.row
		button.test-short Probar textos corto
		button.test-medium Probar textos mediano
		button.test-large Probar textos largos
	.item
		p.textstyle#a10 Nombre de producto

.item-group
	h2 _teststyle#a12
	.row
		button.test-short Probar textos corto
		button.test-medium Probar textos mediano
		button.test-large Probar textos largos
	.item
		p.textstyle#a12 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae molestie risus.

.item-group
	h2 _teststyle#a27
	.row
		button.test-short Probar textos corto
		button.test-medium Probar textos mediano
		button.test-large Probar textos largos
	.item
		p.textstyle#a27 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec pretium ipsum. Curabitur egestas felis non ligula rutrum fringilla. Vivamus pharetra mattis pretium. Suspendisse eleifend quam non leo tincidunt, sit amet dictum dui bibendum. Aliquam iaculis nulla ex, eget pellentesque sem fringilla eget.
