link(rel='stylesheet', href='bower_components/bootstrap/dist/bootstrap.min.css')
link(href='css/card-global-classes.css', rel='stylesheet')
link(href='css/assets-tester.css', rel='stylesheet')
script(src='bower_components/jquery/dist/jquery.min.js')
script(src='js/config_assets-tester.js')

section#assets-tester
	.assets-group
		h1 Text Block - create
		include assets

	.assets-group
		h1 Frames
		h2 _frame-a01
		.item.allheight
			.frame.a01

	.assets-group
		h1 Paragraph
		h2 _paragraph.a01
		.item
			.paragraph.a01
				p.title Café de luis
				p.medium Lorem ipsum sit amet, consectetur adipiscing elit. Proin at fringilla massa. Curabitur elit ipsum, euismod vel libero a, suscipit efficitur.

	.assets-group
		h1 Text Block
		h2 _textblock.a01
		.item
			.textblock.a01
				p#title ! Horario habitual ¡
				p#medium
					|Lunes a viernes de 08:00 a 22:00hrs
					br
					|Sábado de 08:00 a 22:00hrs
					br
					|Domingo de 10:00 a 22:00hrs

		h2 _textblock.a02

		.item
			.textblock.a02
				p#short Horario 00:00 a 00:00hrs
				hr
				p#title
					|Entrelagos
					br
					|Lorem ipsum sit amet, consectetur
				hr
				p#medium Lorem ipsum massa sit amet, consectetur adipiscing elit. proin at fringilla massa.
				hr

	.assets-group
		h1 Brand block
		h2 _brandblock.a01
		.item.background-transparent
			.brandblock.a01
				figure.col-xs-3
					img(src="images/card_d51/logo_cafedeluis/logo_cafedeluis.png")
				figcaption.col-xs-8
					p.title ¡Bienvenido Otoño!
					p.medium Con el segundo aperitivo (cerveza, sour o jugo), tendrás nuestras especialidades en papas al 50%. Aplica a Papas Bravas, Rústicas y Fritas.

	.assets-group
		h1 Sidetext
		h2 _sidetext.a01
		.item.no-animation
			.sidetext.a01
				p.title Tú eliges!
				p.medium Quedarte en casa o aprovechar el otoño en #valdiviacl !!
				p.short Válido hasta el 30 de abril

	.assets-group
		h1 Mosaic
		h2 _mosaic.a01

		.item.allheight
			.mosaic.a01
				figure
					img(src="assets/images/mosaic-a01_imgexample-01.jpg")
				figure
					img(src="assets/images/mosaic-a01_imgexample-02.jpg")
				figure
					img(src="assets/images/mosaic-a01_imgexample-03.jpg")
				figure
					img(src="assets/images/mosaic-a01_imgexample-04.jpg")

		h2 _mosaic.a02

		.item.allheight
			.mosaic.a02
				center
					figure
						img(src="images/card_d50/mosaic-a02_imgexample-01.jpg")
					figure
						img(src="images/card_d50/mosaic-a02_imgexample-02.jpg")
					figure
						img(src="images/card_d50/mosaic-a02_imgexample-03.jpg")
					figure
						img(src="images/card_d50/mosaic-a02_imgexample-04.jpg")

	.assets-group
		h1 Text Style
		.item-group
			h2 _teststyle#a01
			.row
				button.test-short Probar textos corto
				button.test-medium Probar textos mediano
				button.test-large Probar textos largos
			.item
				p.textstyle#a01 Combina como quieras en Semana Santa
		.item-group
			h2 _teststyle#a02
			.row
				button.test-short Probar textos corto
				button.test-medium Probar textos mediano
				button.test-large Probar textos largos
			.item
				p.textstyle#a02 BLACK FRIDAY / CYBER MONDAY
		.item-group
			h2 _teststyle#a03
			.row
				button.test-short Probar textos corto
				button.test-medium Probar textos mediano
				button.test-large Probar textos largos
			.item
				p.textstyle#a03 Comienza tu Website / Blog
		.item-group
			h2 _teststyle#a04
			.row
				button.test-short Probar textos corto
				button.test-medium Probar textos mediano
				button.test-large Probar textos largos
			.item
				p.textstyle#a04 $ 7.99 $ 2.65 por mes


	.assets-group
		h1 List Group
		h2 _listgroup.a01
		.item
			.listgroup.a01#n1
				p.subtitle Fondo
				p.large.editable
					|- Pescado a la plancha con salsa de limón
					br
					|- Papillote de merluza y verduras glaseadas
					br
					|- Bife de vacuno con salsa de champiñones

	.assets-group
		h1 Brand Price
		h2 _brandprice.a01
		.item.no-animation.background-transparent
			.brandprice.a01
				.vertical-center
					img(src="images/card_d50/logo_cafedeluis.png")
					p.short.editable con Jugo natural, Café o Té
					p.price.editable 8.900 <span>.-</span>

	.assets-group
		h1 Band Block
		h2 _bandblock.a01
		.item
			.bandblock.a01
				p.short.editable Además disfruta de toda nuestra carta de sandwich de autor, ensaladas, tablas grupales y repostería propia.

	.assets-group
		h1 Buttons
		h2 _button.a01
		.item
			button.a01 CALL TO ACTION


<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:700" rel="stylesheet">

<!-- a05 -->
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">